.pop-container {
/*   display: block; */
    padding: 10%;
}
.addItem-324 {
  display: flex;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  height: 30px;
/*   jusitfy-contents:center; */
/*   align-items:center; */
}
.it-324 {
    border: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.it-324:focus {
    border: none;
    border-bottom: 1px solid #dfdfdf;
}
.qtyWrapper-324 {
    display: flex;
    height: 28px;
}
.addQty-324 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addBtn-324 {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #b7b2b2;
    border-radius: 5px;
    padding: 6px 16px;
}
.addBtn-324:hover {
    border-color: #68b843;
    background: #68b843;
    color: white !important;
}
ol.olist-324 {
    /* padding-left: 0px; */
}
ol.olist-324 li {
  position: relative;
  margin: 0.5em 0;
}
._3dY_ZR {
    display: flex;
}
.qty-324 {
    width: 24px;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
}
.qtyWrapper-324 input::-webkit-outer-spin-button,
.qtyWrapper-324 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

.qtyWrapper-324 .minus-btn,
.qtyWrapper-324 .plus-btn{
    background-color: #ffffff;
    border: 1px solid rgb(214, 214, 214);
    cursor:pointer;
}
.qtyWrapper-324 .minus-btn:hover,
.qtyWrapper-324 .plus-btn:hover {
    background: #eeeeee;
}
.qtyWrapper-324 .minus-btn:focus,
.qtyWrapper-324 .plus-btn:focus {
    outline: none; 
}
.qtyWrapper-324 .minus-btn {
    border-right: 0;
}
.qtyWrapper-324 .plus-btn {
    border-left: 0;
}
.disQty-324 {
    color: #F87D09;
}
/* Style the close button */
.close-324 {
    margin-left: 12px;
    padding: 0px 6px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
.close-324:hover {
    /* background-color: #f44336; */
    color: white;
    font-weight: 800;
    color: #f44336;
    cursor: pointer;
}
